
#map {
  width: calc(100vw - 0px);
  height: calc(100vh - 0px);
}

#graphExplorerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  bottom: 0;
}

body { margin: 0; padding: 0; }

.modal-content {
  width: 550px;
}

.modal-body > * {
  margin: 5px;
}

.error {
  color: red;
  margin: 10px;
}

#loadingQuads .spinner {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}

#loadingQuads .dimmer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top:0;
  left:0;
  right:0;
  bottom:0;
}

input {
  width: 100% !important;
}

textarea {
  width: 100% !important;
  height: 300px;
  width: 500px;
}

label {
  font-weight:bold;
}
